*{
   margin: 0;
}
body{
    background: lightcyan;
    background: linear-gradient(rgba(167, 253, 81, 0.548), rgba(0, 0, 255, 0.557));
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    
}
.container{
    margin: auto;
    width: 80%;
    box-shadow: 0 0 8px black;
    padding-bottom: 10px;
}
.holder{
    position: sticky;
    top: 8px;
    box-shadow: 0 0 10px black;
    z-index: 2;
}
.holder1{
    position: sticky;
    top: 10px;
    box-shadow: 0 0 10px black;
    background: linear-gradient(45deg, rgb(58, 57, 57), black, rgb(58, 57, 57));
   
}
.holder h1{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(54, 48, 41);
    word-spacing: 10px;
}
.holder h1.active{
    background: linear-gradient( blue, rgba(255, 0, 0, 0.868),rgb(4, 255, 4));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.header{
    background:linear-gradient( rgb(167, 253, 81),rgb(0, 0, 255));
    margin-top: 10px;
}
nav{
    align-items: end;
    text-align: end;
    
}
ul{
    display: flex;
    justify-content: space-around;

    padding: 2px;
}
.header li{
    list-style: none;
    background:transparent;
    border: 1px solid black;
    padding: 1px;
    font-size: 1.3rem;
    border-radius: 10px;
    background: linear-gradient(lime,yellow);
    font-weight: bold;
    color: blueviolet;
    cursor: pointer;
    transition: 2s;
    box-shadow: 0 3px rgb(92, 9, 9);
}
.header li:hover{
    transform: scale(1.1);
    color: red;
    background: linear-gradient(yellow,lime);
}
@media screen and (max-width:700px) {
    .container{
    box-shadow: 0 0 6px black;
    padding-bottom: 5px;
}
.holder{
    top: 5px;
    box-shadow: 0 0 8px black;
}
.holder1{
    top: 8px;
    box-shadow: 0 0 8px black;
}
.holder h1{
    font-size: 1.5rem;
    word-spacing: 5px;
}
.header{
    margin-top: 6px;
}

ul{
    padding: 1px;
}
.header li{
    font-size: 1rem;
    box-shadow: 0 2px rgb(92, 9, 9);
}
.header li:hover{
    transform: scale(1.1);
    color: red;
    background: linear-gradient(yellow,lime);
}
}
.main{
    display: flex;
    margin-top: 30px;
    background: linear-gradient(rgba(91, 91, 255, 0.564),rgba(49, 139, 49, 0.637));
    border-radius: 35px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 0 5px black;
    margin-bottom: 20px;
    border: 1px solid grey;
}
.image{
    background: linear-gradient(rgba(28, 28, 228, 0.655),rgba(87, 82, 26, 0.637));
    border-radius: 35px;
    width: 40%;
    margin-left: 50px;
    height: 100vh;
    text-align: center;
    box-shadow: 0 0 10px black;
}
img{
    top: 30px;
    width: 80%;
    margin: 10px;
    height: 70vh;
    border-radius: 35px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.674);
    box-shadow: 0 0 10px wheat;
    transition: 2s;
}
img:hover{
    transform: scale(1.03);
}
.image h2{
    color: brown;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.image h2.active{
    background: linear-gradient(45deg, red, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.image p{
    color: rgb(0, 255, 81);
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.image a{
    color: rgb(221, 0, 255);
}
.image a:hover{
    color: rgb(255, 0, 81);
}
@media screen and (max-width:700px){
    .main{
    display:block;
    margin-top: 20px;
   
    text-align: center;
}
.image{
    width: 90%;
    margin:auto;
    height: 80vh;
    box-shadow: 0 0 8px black;
}
img{
    top: 20px;
    width: 80%;
    margin: 10px;
    height: 50vh;
    border-radius: 35px;
    border-radius: 50%;
    box-shadow: 0 0 8px wheat;
}
.image h2{
    font-size: 1.2rem;
}
.image p{
    font-size: 1rem;
}
.image a{
    color: rgb(221, 0, 255);
}
.image a:hover{
    color: rgb(255, 0, 81);
}
}
.info{
    margin-left: 40px;
    align-items: center;
    position: relative;
    text-align: center;
}
.info h2{
    color: blue;
    margin: 30px;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.info h2.active{
    background: linear-gradient(green, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.info p{
    color: blue;
    margin-top: 20px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    
}
.info p.active{
    background: linear-gradient(green, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.info ol{
    color: blue;
    margin-bottom: 30px;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.info ol.active{
    background: linear-gradient(45deg, green, blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.info h3{
    margin: 10px;
    font-size: 1.4rem;
    background-color: black;
}
.info h3.active{
    background: linear-gradient(rgb(102, 6, 255), rgb(0, 132, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media screen and (max-width:700px) {
    .info{
    margin-left: 20px;
}
.info h2{
    margin: 10px;
    font-size: 1.6rem;
}
.info p{
    margin-top: 10px;
    font-size: 1.08rem;
}
.info ol{
    margin-bottom: 10px;
    font-size: 1rem;
}
.info h3{
    font-size: 1.1rem;
}
}
.info form{
    box-shadow: 0 0 10px black;
    color: rgb(105, 6, 255);
    border: 1px solid rgb(131, 116, 154);;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    background: linear-gradient(rgba(1, 255, 1, 0.151), rgba(0, 0, 255, 0.356));
    border-radius: 7px;
}
.info label{
    color: rgb(105, 6, 255);
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info label.active{
   background: linear-gradient(90deg, green, black);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
.info input{
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
    background-color: transparent;
    width: 70%;
    font-size: 1.3rem;
    border-radius: 25px;
    text-align: center;
}
.info input.active{
   background: linear-gradient(90deg, red, black);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;  border: 1px solid black;
}
.buttons{
    position: relative;
    margin: 10px;
    text-align: center;
}
.btn1{
    background: linear-gradient(45deg, blue, red);
    font-size: 1.3rem;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
    font-weight: bolder;
    transition: 2s ease;
    width: 35%;
}
.btn1:hover{
    background: linear-gradient(45deg, red, blue);
}
.btn2{
    font-size: 1.3rem;
    background: linear-gradient(45deg, green,  yellow);
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
    font-weight: bolder;
    transition: 0.1s;
    width: 35%;
}
.btn2:hover{

    background: linear-gradient(45deg,  yellow, green );
}
.icons{
    background: linear-gradient(rgba(167, 253, 81, 0.548), rgba(0, 0, 255, 0.557));
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.icons i{
    font-size: 1.5rem;
    text-align: center;
    color: blue;
    background: linear-gradient(45deg, rgba(167, 253, 81, 0.418), rgba(0, 0, 255, 0.4));
    border-radius: 50%;
    border:0.5px solid burlywood ;
    margin: 5px;
    transition: 1s all;
    justify-content: space-between;
    padding: 4px;
    cursor: pointer;

}
.icons i:hover{
    transform: scale(1.3);
    color: rgb(0, 248, 62);
}
@media screen and (max-width:700px) {
    .info form{
    box-shadow: 0 0 8px black;
    width: 90%;
}
.info label{
    font-size: 1rem;
}
.info input{
    margin-bottom: 7px;
    width: 80%;
    font-size: 1rem;
}
.buttons{
    position: relative;
    margin: 10px;
    text-align: center;
    display: block;
    align-items: center;
}
.btn1{
    font-size: 1rem;
    width: 75%;
    display: inline;
    margin-bottom: 5px;
}
.btn2{
    margin-top: 5px;
    font-size: 1rem;
    width: 75%;
    display: inline;
}
.icons{
    background: linear-gradient(rgba(167, 253, 81, 0.548), rgba(0, 0, 255, 0.557));
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 95%;
}
.icons i{
    font-size: 1rem;
    padding: 2px;
}
}